@font-face {
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-family: "ibps-icons";
  src: url('iconfont.ttf') format('truetype');
}

.ibps-icon {
  position: relative;
  display: inline-block;
  // font: normal normal normal 14px/1 "ibps-icons";
  // font-size: inherit;
  // text-rendering: auto;
  // line-height: inherit;
  // -webkit-font-smoothing: antialiased;

  &::before {
    display: inline-block;
  }
}

[class*=" ibps-icon-"],
[class^=ibps-icon-]{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ibps-icons' !important;
   // speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    // line-height: 1;
    vertical-align: baseline;
    display: inline-block;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.ibps-icon-switch-tenant:before {
  content: "\e91d";
}

.ibps-icon-revoke:before {
  content: "\e993";
}

.ibps-icon-draft:before {
  content: "\e992";
}

.ibps-icon-back:before {
  content: "\e933";
}

.ibps-icon-radiobox:before {
  content: "\e92f";
}

.ibps-icon-radiobox-fill:before {
  content: "\e930";
}

.ibps-icon-titles:before {
  content: "\e931";
}

.ibps-icon-title:before {
  content: "\e932";
}

.ibps-icon-my-request:before {
  content: "\e92a";
}

.ibps-icon-my-request1:before {
  content: "\e92b";
}

.ibps-icon-new-process:before {
  content: "\e92c";
}

.ibps-icon-completed:before {
  content: "\e92d";
}

.ibps-icon-pending:before {
  content: "\e92e";
}

.ibps-icon-handled:before {
  content: "\e991";
}

.ibps-icon-tabs:before {
  content: "\e929";
}

.ibps-icon-comments:before {
  content: "\e6b6";
}

.ibps-icon-map:before {
  content: "\e7b6";
}

.ibps-icon-toggle-up:before {
  content: "\e8b6";
}

.ibps-icon-comments-o:before {
  content: "\e6b7";
}

.ibps-icon-map-signs:before {
  content: "\e7b7";
}

.ibps-icon-transgender-alt:before {
  content: "\e8b7";
}

.ibps-icon-connectdevelop:before {
  content: "\e6b8";
}

.ibps-icon-mars-stroke-h:before {
  content: "\e7b8";
}

.ibps-icon-trademark:before {
  content: "\e8b8";
}

.ibps-icon-copy:before {
  content: "\e6b9";
}

.ibps-icon-mars-stroke:before {
  content: "\e7b9";
}

.ibps-icon-train:before {
  content: "\e8b9";
}

.ibps-icon-contao:before {
  content: "\e6ba";
}

.ibps-icon-mars-stroke-v:before {
  content: "\e7ba";
}

.ibps-icon-trash-o:before {
  content: "\e8ba";
}

.ibps-icon-copyright:before {
  content: "\e6bb";
}

.ibps-icon-mars-double:before {
  content: "\e7bb";
}

.ibps-icon-trash:before {
  content: "\e8bb";
}

.ibps-icon-credit-card-alt:before {
  content: "\e6bc";
}

.ibps-icon-mars:before {
  content: "\e7bc";
}

.ibps-icon-transgender:before {
  content: "\e8bc";
}

.ibps-icon-credit-card:before {
  content: "\e6bd";
}

.ibps-icon-maxcdn:before {
  content: "\e7bd";
}

.ibps-icon-tree:before {
  content: "\e8bd";
}

.ibps-icon-crop:before {
  content: "\e6be";
}

.ibps-icon-medium:before {
  content: "\e7be";
}

.ibps-icon-try:before {
  content: "\e8be";
}

.ibps-icon-creative-commons:before {
  content: "\e6bf";
}

.ibps-icon-medkit:before {
  content: "\e7bf";
}

.ibps-icon-trello:before {
  content: "\e8bf";
}

.ibps-icon-crosshairs:before {
  content: "\e6c0";
}

.ibps-icon-meanpath:before {
  content: "\e7c0";
}

.ibps-icon-trophy:before {
  content: "\e8c0";
}

.ibps-icon-css3:before {
  content: "\e6c1";
}

.ibps-icon-meetup:before {
  content: "\e7c1";
}

.ibps-icon-tty:before {
  content: "\e8c1";
}

.ibps-icon-cube:before {
  content: "\e6c2";
}

.ibps-icon-meh-o:before {
  content: "\e7c2";
}

.ibps-icon-truck:before {
  content: "\e8c2";
}

.ibps-icon-cutlery:before {
  content: "\e6c3";
}

.ibps-icon-mercury:before {
  content: "\e7c3";
}

.ibps-icon-tripadvisor:before {
  content: "\e8c3";
}

.ibps-icon-cut:before {
  content: "\e6c4";
}

.ibps-icon-microphone:before {
  content: "\e7c4";
}

.ibps-icon-tumblr-square:before {
  content: "\e8c4";
}

.ibps-icon-dashboard:before {
  content: "\e6c5";
}

.ibps-icon-minus-circle:before {
  content: "\e7c5";
}

.ibps-icon-turkish-lira:before {
  content: "\e8c5";
}

.ibps-icon-dashcube:before {
  content: "\e6c6";
}

.ibps-icon-minus-square:before {
  content: "\e7c6";
}

.ibps-icon-tumblr:before {
  content: "\e8c6";
}

.ibps-icon-cubes:before {
  content: "\e6c7";
}

.ibps-icon-minus-square-o:before {
  content: "\e7c7";
}

.ibps-icon-tv:before {
  content: "\e8c7";
}

.ibps-icon-database:before {
  content: "\e6c8";
}

.ibps-icon-microchip:before {
  content: "\e7c8";
}

.ibps-icon-twitter:before {
  content: "\e8c8";
}

.ibps-icon-deaf:before {
  content: "\e6c9";
}

.ibps-icon-microphone-slash:before {
  content: "\e7c9";
}

.ibps-icon-twitter-square:before {
  content: "\e8c9";
}

.ibps-icon-delicious:before {
  content: "\e6ca";
}

.ibps-icon-minus:before {
  content: "\e7ca";
}

.ibps-icon-twitch:before {
  content: "\e8ca";
}

.ibps-icon-deviantart:before {
  content: "\e6cb";
}

.ibps-icon-mixcloud:before {
  content: "\e7cb";
}

.ibps-icon-underline:before {
  content: "\e8cb";
}

.ibps-icon-diamond:before {
  content: "\e6cc";
}

.ibps-icon-mobile:before {
  content: "\e7cc";
}

.ibps-icon-umbrella:before {
  content: "\e8cc";
}

.ibps-icon-dedent:before {
  content: "\e6cd";
}

.ibps-icon-modx:before {
  content: "\e7cd";
}

.ibps-icon-undo:before {
  content: "\e8cd";
}

.ibps-icon-desktop:before {
  content: "\e6ce";
}

.ibps-icon-money:before {
  content: "\e7ce";
}

.ibps-icon-unlink:before {
  content: "\e8ce";
}

.ibps-icon-deafness:before {
  content: "\e6cf";
}

.ibps-icon-moon-o:before {
  content: "\e7cf";
}

.ibps-icon-university:before {
  content: "\e8cf";
}

.ibps-icon-drivers-license-o:before {
  content: "\e6d0";
}

.ibps-icon-motorcycle:before {
  content: "\e7d0";
}

.ibps-icon-universal-access:before {
  content: "\e8d0";
}

.ibps-icon-digg:before {
  content: "\e6d1";
}

.ibps-icon-mouse-pointer:before {
  content: "\e7d1";
}

.ibps-icon-unlock-alt:before {
  content: "\e8d1";
}

.ibps-icon-dribbble:before {
  content: "\e6d2";
}

.ibps-icon-mortar-board:before {
  content: "\e7d2";
}

.ibps-icon-unlock:before {
  content: "\e8d2";
}

.ibps-icon-download:before {
  content: "\e6d3";
}

.ibps-icon-navicon:before {
  content: "\e7d3";
}

.ibps-icon-upload:before {
  content: "\e8d3";
}

.ibps-icon-dollar:before {
  content: "\e6d4";
}

.ibps-icon-neuter:before {
  content: "\e7d4";
}

.ibps-icon-unsorted:before {
  content: "\e8d4";
}

.ibps-icon-dot-circle-o:before {
  content: "\e6d5";
}

.ibps-icon-music:before {
  content: "\e7d5";
}

.ibps-icon-usd:before {
  content: "\e8d5";
}

.ibps-icon-edit:before {
  content: "\e6d6";
}

.ibps-icon-object-group:before {
  content: "\e7d6";
}

.ibps-icon-usb:before {
  content: "\e8d6";
}

.ibps-icon-dropbox:before {
  content: "\e6d7";
}

.ibps-icon-newspaper-o:before {
  content: "\e7d7";
}

.ibps-icon-user-circle:before {
  content: "\e8d7";
}

.ibps-icon-edge:before {
  content: "\e6d8";
}

.ibps-icon-object-ungroup:before {
  content: "\e7d8";
}

.ibps-icon-user-o:before {
  content: "\e8d8";
}

.ibps-icon-drupal:before {
  content: "\e6d9";
}

.ibps-icon-odnoklassniki-square:before {
  content: "\e7d9";
}

.ibps-icon-user-circle-o:before {
  content: "\e8d9";
}

.ibps-icon-drivers-license:before {
  content: "\e6da";
}

.ibps-icon-odnoklassniki:before {
  content: "\e7da";
}

.ibps-icon-user-plus:before {
  content: "\e8da";
}

.ibps-icon-eject:before {
  content: "\e6db";
}

.ibps-icon-opencart:before {
  content: "\e7db";
}

.ibps-icon-user-md:before {
  content: "\e8db";
}

.ibps-icon-ellipsis-h:before {
  content: "\e6dc";
}

.ibps-icon-openid:before {
  content: "\e7dc";
}

.ibps-icon-user-secret:before {
  content: "\e8dc";
}

.ibps-icon-envelope-o:before {
  content: "\e6dd";
}

.ibps-icon-opera:before {
  content: "\e7dd";
}

.ibps-icon-user:before {
  content: "\e8dd";
}

.ibps-icon-ellipsis-v:before {
  content: "\e6de";
}

.ibps-icon-paper-plane-o:before {
  content: "\e7de";
}

.ibps-icon-user-times:before {
  content: "\e8de";
}

.ibps-icon-eercast:before {
  content: "\e6df";
}

.ibps-icon-pagelines:before {
  content: "\e7df";
}

.ibps-icon-users:before {
  content: "\e8df";
}

.ibps-icon-empire:before {
  content: "\e6e0";
}

.ibps-icon-outdent:before {
  content: "\e7e0";
}

.ibps-icon-vcard-o:before {
  content: "\e8e0";
}

.ibps-icon-envelope-open-o:before {
  content: "\e6e1";
}

.ibps-icon-paper-plane:before {
  content: "\e7e1";
}

.ibps-icon-vcard:before {
  content: "\e8e1";
}

.ibps-icon-envelope-open:before {
  content: "\e6e2";
}

.ibps-icon-paint-brush:before {
  content: "\e7e2";
}

.ibps-icon-venus:before {
  content: "\e8e2";
}

.ibps-icon-envelope:before {
  content: "\e6e3";
}

.ibps-icon-paragraph:before {
  content: "\e7e3";
}

.ibps-icon-venus-mars:before {
  content: "\e8e3";
}

.ibps-icon-envelope-square:before {
  content: "\e6e4";
}

.ibps-icon-paperclip:before {
  content: "\e7e4";
}

.ibps-icon-venus-double:before {
  content: "\e8e4";
}

.ibps-icon-envira:before {
  content: "\e6e5";
}

.ibps-icon-optin-monster:before {
  content: "\e7e5";
}

.ibps-icon-viadeo-square:before {
  content: "\e8e5";
}

.ibps-icon-etsy:before {
  content: "\e6e6";
}

.ibps-icon-pause-circle-o:before {
  content: "\e7e6";
}

.ibps-icon-viacoin:before {
  content: "\e8e6";
}

.ibps-icon-eraser:before {
  content: "\e6e7";
}

.ibps-icon-paste:before {
  content: "\e7e7";
}

.ibps-icon-viadeo:before {
  content: "\e8e7";
}

.ibps-icon-eur:before {
  content: "\e6e8";
}

.ibps-icon-pause:before {
  content: "\e7e8";
}

.ibps-icon-video-camera:before {
  content: "\e8e8";
}

.ibps-icon-euro:before {
  content: "\e6e9";
}

.ibps-icon-pause-circle:before {
  content: "\e7e9";
}

.ibps-icon-vimeo-square:before {
  content: "\e8e9";
}

.ibps-icon-exchange:before {
  content: "\e6ea";
}

.ibps-icon-paw:before {
  content: "\e7ea";
}

.ibps-icon-vine:before {
  content: "\e8ea";
}

.ibps-icon-exclamation-triangle:before {
  content: "\e6eb";
}

.ibps-icon-paypal:before {
  content: "\e7eb";
}

.ibps-icon-vimeo:before {
  content: "\e8eb";
}

.ibps-icon-expand:before {
  content: "\e6ec";
}

.ibps-icon-pencil-square-o:before {
  content: "\e7ec";
}

.ibps-icon-vk:before {
  content: "\e8ec";
}

.ibps-icon-exclamation:before {
  content: "\e6ed";
}

.ibps-icon-percent:before {
  content: "\e7ed";
}

.ibps-icon-volume-control-phone:before {
  content: "\e8ed";
}

.ibps-icon-exclamation-circle:before {
  content: "\e6ee";
}

.ibps-icon-pencil-square:before {
  content: "\e7ee";
}

.ibps-icon-volume-off:before {
  content: "\e8ee";
}

.ibps-icon-expeditedssl:before {
  content: "\e6ef";
}

.ibps-icon-pencil:before {
  content: "\e7ef";
}

.ibps-icon-volume-down:before {
  content: "\e8ef";
}

.ibps-icon-external-link-square:before {
  content: "\e6f0";
}

.ibps-icon-phone-square:before {
  content: "\e7f0";
}

.ibps-icon-warning:before {
  content: "\e8f0";
}

.ibps-icon-eyedropper:before {
  content: "\e6f1";
}

.ibps-icon-phone:before {
  content: "\e7f1";
}

.ibps-icon-volume-up:before {
  content: "\e8f1";
}

.ibps-icon-external-link:before {
  content: "\e6f2";
}

.ibps-icon-photo:before {
  content: "\e7f2";
}

.ibps-icon-wechat:before {
  content: "\e8f2";
}

.ibps-icon-eye:before {
  content: "\e6f3";
}

.ibps-icon-picture-o:before {
  content: "\e7f3";
}

.ibps-icon-weibo:before {
  content: "\e8f3";
}

.ibps-icon-eye-slash:before {
  content: "\e6f4";
}

.ibps-icon-pie-chart:before {
  content: "\e7f4";
}

.ibps-icon-whatsapp:before {
  content: "\e8f4";
}

.ibps-icon-fa:before {
  content: "\e6f5";
}

.ibps-icon-pied-piper-pp:before {
  content: "\e7f5";
}

.ibps-icon-weixin:before {
  content: "\e8f5";
}

.ibps-icon-facebook-official:before {
  content: "\e6f6";
}

.ibps-icon-pied-piper-alt:before {
  content: "\e7f6";
}

.ibps-icon-wheelchair-alt:before {
  content: "\e8f6";
}

.ibps-icon-facebook-f:before {
  content: "\e6f7";
}

.ibps-icon-pinterest-p:before {
  content: "\e7f7";
}

.ibps-icon-wheelchair:before {
  content: "\e8f7";
}

.ibps-icon-facebook-square:before {
  content: "\e6f8";
}

.ibps-icon-plane:before {
  content: "\e7f8";
}

.ibps-icon-wikipedia-w:before {
  content: "\e8f8";
}

.ibps-icon-facebook:before {
  content: "\e6f9";
}

.ibps-icon-play-circle-o:before {
  content: "\e7f9";
}

.ibps-icon-wifi:before {
  content: "\e8f9";
}

.ibps-icon-fast-backward:before {
  content: "\e6fa";
}

.ibps-icon-pied-piper:before {
  content: "\e7fa";
}

.ibps-icon-window-close:before {
  content: "\e8fa";
}

.ibps-icon-fast-forward:before {
  content: "\e6fb";
}

.ibps-icon-pinterest:before {
  content: "\e7fb";
}

.ibps-icon-window-close-o:before {
  content: "\e8fb";
}

.ibps-icon-feed:before {
  content: "\e6fc";
}

.ibps-icon-pinterest-square:before {
  content: "\e7fc";
}

.ibps-icon-window-maximize:before {
  content: "\e8fc";
}

.ibps-icon-file-archive-o:before {
  content: "\e6fd";
}

.ibps-icon-play:before {
  content: "\e7fd";
}

.ibps-icon-window-minimize:before {
  content: "\e8fd";
}

.ibps-icon-female:before {
  content: "\e6fe";
}

.ibps-icon-play-circle:before {
  content: "\e7fe";
}

.ibps-icon-window-restore:before {
  content: "\e8fe";
}

.ibps-icon-ban:before {
  content: "\e927";
}

.ibps-icon-file-audio-o:before {
  content: "\e6ff";
}

.ibps-icon-plug:before {
  content: "\e7ff";
}

.ibps-icon-windows:before {
  content: "\e8ff";
}

.ibps-icon-numeric:before {
  content: "\e990";
}

.ibps-icon-fighter-jet:before {
  content: "\e700";
}

.ibps-icon-plus-square-o:before {
  content: "\e800";
}

.ibps-icon-won:before {
  content: "\e900";
}

.ibps-icon-bars:before {
  content: "\e601";
}

.ibps-icon-fax:before {
  content: "\e701";
}

.ibps-icon-plus-square:before {
  content: "\e801";
}

.ibps-icon-wordpress:before {
  content: "\e901";
}

.ibps-icon-calendar:before {
  content: "\e602";
}

.ibps-icon-file-code-o:before {
  content: "\e702";
}

.ibps-icon-plus-circle:before {
  content: "\e802";
}

.ibps-icon-wpexplorer:before {
  content: "\e902";
}

.ibps-icon-camera:before {
  content: "\e603";
}

.ibps-icon-file-movie-o:before {
  content: "\e703";
}

.ibps-icon-plus:before {
  content: "\e803";
}

.ibps-icon-wpbeginner:before {
  content: "\e903";
}

.ibps-icon-check:before {
  content: "\e604";
}

.ibps-icon-file-image-o:before {
  content: "\e704";
}

.ibps-icon-product-hunt:before {
  content: "\e804";
}

.ibps-icon-xing-square:before {
  content: "\e904";
}

.ibps-icon-check-square-o:before {
  content: "\e605";
}

.ibps-icon-file-excel-o:before {
  content: "\e705";
}

.ibps-icon-print:before {
  content: "\e805";
}

.ibps-icon-wrench:before {
  content: "\e905";
}

.ibps-icon-clock-o:before {
  content: "\e606";
}

.ibps-icon-file-o:before {
  content: "\e706";
}

.ibps-icon-puzzle-piece:before {
  content: "\e806";
}

.ibps-icon-wpforms:before {
  content: "\e906";
}

.ibps-icon-500px:before {
  content: "\e607";
}

.ibps-icon-file-photo-o:before {
  content: "\e707";
}

.ibps-icon-podcast:before {
  content: "\e807";
}

.ibps-icon-y-combinator:before {
  content: "\e907";
}

.ibps-icon-address-book-o:before {
  content: "\e608";
}

.ibps-icon-file-pdf-o:before {
  content: "\e708";
}

.ibps-icon-power-off:before {
  content: "\e808";
}

.ibps-icon-xing:before {
  content: "\e908";
}

.ibps-icon-address-book:before {
  content: "\e609";
}

.ibps-icon-file-picture-o:before {
  content: "\e709";
}

.ibps-icon-qq:before {
  content: "\e809";
}

.ibps-icon-y-combinator-square:before {
  content: "\e909";
}

.ibps-icon-address-card-o:before {
  content: "\e60a";
}

.ibps-icon-file-sound-o:before {
  content: "\e70a";
}

.ibps-icon-question:before {
  content: "\e80a";
}

.ibps-icon-yahoo:before {
  content: "\e90a";
}

.ibps-icon-address-card:before {
  content: "\e60b";
}

.ibps-icon-file-powerpoint-o:before {
  content: "\e70b";
}

.ibps-icon-qrcode:before {
  content: "\e80b";
}

.ibps-icon-yc:before {
  content: "\e90b";
}

.ibps-icon-adjust:before {
  content: "\e60c";
}

.ibps-icon-file-text:before {
  content: "\e70c";
}

.ibps-icon-quora:before {
  content: "\e80c";
}

.ibps-icon-yc-square:before {
  content: "\e90c";
}

.ibps-icon-adn:before {
  content: "\e60d";
}

.ibps-icon-file-text-o:before {
  content: "\e70d";
}

.ibps-icon-question-circle-o:before {
  content: "\e80d";
}

.ibps-icon-yen:before {
  content: "\e90d";
}

.ibps-icon-align-center:before {
  content: "\e60e";
}

.ibps-icon-file:before {
  content: "\e70e";
}

.ibps-icon-question-circle:before {
  content: "\e80e";
}

.ibps-icon-yelp:before {
  content: "\e90e";
}

.ibps-icon-align-justify:before {
  content: "\e60f";
}

.ibps-icon-file-video-o:before {
  content: "\e70f";
}

.ibps-icon-quote-left:before {
  content: "\e80f";
}

.ibps-icon-yoast:before {
  content: "\e90f";
}

.ibps-icon-align-left:before {
  content: "\e610";
}

.ibps-icon-files-o:before {
  content: "\e710";
}

.ibps-icon-quote-right:before {
  content: "\e810";
}

.ibps-icon-youtube-play:before {
  content: "\e910";
}

.ibps-icon-align-right:before {
  content: "\e611";
}

.ibps-icon-file-zip-o:before {
  content: "\e711";
}

.ibps-icon-ra:before {
  content: "\e811";
}

.ibps-icon-youtube-square:before {
  content: "\e911";
}

.ibps-icon-amazon:before {
  content: "\e612";
}

.ibps-icon-file-word-o:before {
  content: "\e712";
}

.ibps-icon-ravelry:before {
  content: "\e812";
}

.ibps-icon-youtube:before {
  content: "\e912";
}

.ibps-icon-ambulance:before {
  content: "\e613";
}

.ibps-icon-film:before {
  content: "\e713";
}

.ibps-icon-rebel:before {
  content: "\e813";
}

.ibps-icon-check-square:before {
  content: "\e914";
}

.ibps-icon-american-sign-language-interpreting:before {
  content: "\e614";
}

.ibps-icon-filter:before {
  content: "\e714";
}

.ibps-icon-random:before {
  content: "\e814";
}

.ibps-icon-numerical:before {
  content: "\e915";
}

.ibps-icon-anchor:before {
  content: "\e615";
}

.ibps-icon-fire:before {
  content: "\e715";
}

.ibps-icon-reddit-square:before {
  content: "\e815";
}

.ibps-icon-logo:before {
  content: "\e913";
}

.ibps-icon-android:before {
  content: "\e616";
}

.ibps-icon-fire-extinguisher:before {
  content: "\e716";
}

.ibps-icon-reddit-alien:before {
  content: "\e816";
}

.ibps-icon-mobile-phone-copy:before {
  content: "\e916";
}

.ibps-icon-angellist:before {
  content: "\e617";
}

.ibps-icon-flag-checkered:before {
  content: "\e717";
}

.ibps-icon-recycle:before {
  content: "\e817";
}

.ibps-icon-delete:before {
  content: "\e917";
}

.ibps-icon-angle-double-down:before {
  content: "\e618";
}

.ibps-icon-firefox:before {
  content: "\e718";
}

.ibps-icon-reddit:before {
  content: "\e818";
}

.ibps-icon-cancel:before {
  content: "\e918";
}

.ibps-icon-angle-double-left:before {
  content: "\e619";
}

.ibps-icon-first-order:before {
  content: "\e719";
}

.ibps-icon-registered:before {
  content: "\e819";
}

.ibps-icon-release:before {
  content: "\e919";
}

.ibps-icon-angle-double-right:before {
  content: "\e61a";
}

.ibps-icon-flash:before {
  content: "\e71a";
}

.ibps-icon-refresh:before {
  content: "\e81a";
}

.ibps-icon-org:before {
  content: "\e91a";
}

.ibps-icon-angle-double-up:before {
  content: "\e61b";
}

.ibps-icon-flag:before {
  content: "\e71b";
}

.ibps-icon-renren:before {
  content: "\e81b";
}

.ibps-icon-export:before {
  content: "\e91b";
}

.ibps-icon-angle-down:before {
  content: "\e61c";
}

.ibps-icon-flag-o:before {
  content: "\e71c";
}

.ibps-icon-reorder:before {
  content: "\e81c";
}

.ibps-icon-import:before {
  content: "\e91c";
}

.ibps-icon-angle-left:before {
  content: "\e61d";
}

.ibps-icon-flask:before {
  content: "\e71d";
}

.ibps-icon-repeat:before {
  content: "\e81d";
}

.ibps-icon-angle-right:before {
  content: "\e61e";
}

.ibps-icon-flickr:before {
  content: "\e71e";
}

.ibps-icon-reply-all:before {
  content: "\e81e";
}

.ibps-icon-clean:before {
  content: "\e91e";
}

.ibps-icon-angle-up:before {
  content: "\e61f";
}

.ibps-icon-folder-open:before {
  content: "\e71f";
}

.ibps-icon-remove:before {
  content: "\e81f";
}

.ibps-icon-help:before {
  content: "\e91f";
}

.ibps-icon-apple:before {
  content: "\e620";
}

.ibps-icon-folder-o:before {
  content: "\e720";
}

.ibps-icon-rmb:before {
  content: "\e820";
}

.ibps-icon-add:before {
  content: "\e920";
}

.ibps-icon-archive:before {
  content: "\e621";
}

.ibps-icon-font-awesome:before {
  content: "\e721";
}

.ibps-icon-resistance:before {
  content: "\e821";
}

.ibps-icon-detail:before {
  content: "\e921";
}

.ibps-icon-area-chart:before {
  content: "\e622";
}

.ibps-icon-folder:before {
  content: "\e722";
}

.ibps-icon-road:before {
  content: "\e822";
}

.ibps-icon-preview:before {
  content: "\e922";
}

.ibps-icon-arrow-circle-down:before {
  content: "\e623";
}

.ibps-icon-floppy-o:before {
  content: "\e723";
}

.ibps-icon-retweet:before {
  content: "\e823";
}

.ibps-icon-tooltip:before {
  content: "\e923";
}

.ibps-icon-arrow-circle-left:before {
  content: "\e624";
}

.ibps-icon-folder-open-o:before {
  content: "\e724";
}

.ibps-icon-reply:before {
  content: "\e824";
}

.ibps-icon-ok:before {
  content: "\e924";
}

.ibps-icon-arrow-circle-o-down:before {
  content: "\e625";
}

.ibps-icon-fonticons:before {
  content: "\e725";
}

.ibps-icon-rocket:before {
  content: "\e825";
}

.ibps-icon-position:before {
  content: "\e925";
}

.ibps-icon-arrow-circle-o-left:before {
  content: "\e626";
}

.ibps-icon-font:before {
  content: "\e726";
}

.ibps-icon-rotate-left:before {
  content: "\e826";
}

.ibps-icon-role:before {
  content: "\e926";
}

.ibps-icon-arrow-circle-o-right:before {
  content: "\e627";
}

.ibps-icon-forumbee:before {
  content: "\e727";
}

.ibps-icon-rouble:before {
  content: "\e827";
}

.ibps-icon-banner:before {
  content: "\e928";
}

.ibps-icon-arrow-circle-o-up:before {
  content: "\e628";
}

.ibps-icon-fort-awesome:before {
  content: "\e728";
}

.ibps-icon-rotate-right:before {
  content: "\e828";
}

.ibps-icon-arrow-circle-right:before {
  content: "\e629";
}

.ibps-icon-forward:before {
  content: "\e729";
}

.ibps-icon-rss:before {
  content: "\e829";
}

.ibps-icon-arrow-circle-up:before {
  content: "\e62a";
}

.ibps-icon-foursquare:before {
  content: "\e72a";
}

.ibps-icon-rss-square:before {
  content: "\e82a";
}

.ibps-icon-arrow-down:before {
  content: "\e62b";
}

.ibps-icon-free-code-camp:before {
  content: "\e72b";
}

.ibps-icon-ruble:before {
  content: "\e82b";
}

.ibps-icon-arrow-left:before {
  content: "\e62c";
}

.ibps-icon-frown-o:before {
  content: "\e72c";
}

.ibps-icon-rub:before {
  content: "\e82c";
}

.ibps-icon-arrow-right:before {
  content: "\e62d";
}

.ibps-icon-futbol-o:before {
  content: "\e72d";
}

.ibps-icon-s15:before {
  content: "\e82d";
}

.ibps-icon-arrow-up:before {
  content: "\e62e";
}

.ibps-icon-gamepad:before {
  content: "\e72e";
}

.ibps-icon-save:before {
  content: "\e82e";
}

.ibps-icon-arrows-alt:before {
  content: "\e62f";
}

.ibps-icon-gavel:before {
  content: "\e72f";
}

.ibps-icon-rupee:before {
  content: "\e82f";
}

.ibps-icon-arrows-h:before {
  content: "\e630";
}

.ibps-icon-gbp:before {
  content: "\e730";
}

.ibps-icon-safari:before {
  content: "\e830";
}

.ibps-icon-arrows-v:before {
  content: "\e631";
}

.ibps-icon-ge:before {
  content: "\e731";
}

.ibps-icon-scissors:before {
  content: "\e831";
}

.ibps-icon-arrows:before {
  content: "\e632";
}

.ibps-icon-gear:before {
  content: "\e732";
}

.ibps-icon-scribd:before {
  content: "\e832";
}

.ibps-icon-asl-interpreting:before {
  content: "\e633";
}

.ibps-icon-gears:before {
  content: "\e733";
}

.ibps-icon-search-plus:before {
  content: "\e833";
}

.ibps-icon-assistive-listening-systems:before {
  content: "\e634";
}

.ibps-icon-genderless:before {
  content: "\e734";
}

.ibps-icon-search:before {
  content: "\e834";
}

.ibps-icon-asterisk:before {
  content: "\e635";
}

.ibps-icon-get-pocket:before {
  content: "\e735";
}

.ibps-icon-sellsy:before {
  content: "\e835";
}

.ibps-icon-at:before {
  content: "\e636";
}

.ibps-icon-gg-circle:before {
  content: "\e736";
}

.ibps-icon-send:before {
  content: "\e836";
}

.ibps-icon-audio-description:before {
  content: "\e637";
}

.ibps-icon-gift:before {
  content: "\e737";
}

.ibps-icon-send-o:before {
  content: "\e837";
}

.ibps-icon-automobile:before {
  content: "\e638";
}

.ibps-icon-gg:before {
  content: "\e738";
}

.ibps-icon-search-minus:before {
  content: "\e838";
}

.ibps-icon-backward:before {
  content: "\e639";
}

.ibps-icon-git-square:before {
  content: "\e739";
}

.ibps-icon-server:before {
  content: "\e839";
}

.ibps-icon-balance-scale:before {
  content: "\e63a";
}

.ibps-icon-git:before {
  content: "\e73a";
}

.ibps-icon-share-alt-square:before {
  content: "\e83a";
}

.ibps-icon-bandcamp:before {
  content: "\e63b";
}

.ibps-icon-github-alt:before {
  content: "\e73b";
}

.ibps-icon-share-alt:before {
  content: "\e83b";
}

.ibps-icon-bank:before {
  content: "\e63c";
}

.ibps-icon-github-square:before {
  content: "\e73c";
}

.ibps-icon-share-square-o:before {
  content: "\e83c";
}

.ibps-icon-bars1:before {
  content: "\e63d";
}

.ibps-icon-github:before {
  content: "\e73d";
}

.ibps-icon-share:before {
  content: "\e83d";
}

.ibps-icon-bar-chart:before {
  content: "\e63e";
}

.ibps-icon-gitlab:before {
  content: "\e73e";
}

.ibps-icon-share-square:before {
  content: "\e83e";
}

.ibps-icon-bar-chart-o:before {
  content: "\e63f";
}

.ibps-icon-gittip:before {
  content: "\e73f";
}

.ibps-icon-shekel:before {
  content: "\e83f";
}

.ibps-icon-bathtub:before {
  content: "\e640";
}

.ibps-icon-glass:before {
  content: "\e740";
}

.ibps-icon-sheqel:before {
  content: "\e840";
}

.ibps-icon-barcode:before {
  content: "\e641";
}

.ibps-icon-glide-g:before {
  content: "\e741";
}

.ibps-icon-shield:before {
  content: "\e841";
}

.ibps-icon-bath:before {
  content: "\e642";
}

.ibps-icon-glide:before {
  content: "\e742";
}

.ibps-icon-ship:before {
  content: "\e842";
}

.ibps-icon-battery-0:before {
  content: "\e643";
}

.ibps-icon-globe:before {
  content: "\e743";
}

.ibps-icon-shirtsinbulk:before {
  content: "\e843";
}

.ibps-icon-battery-1:before {
  content: "\e644";
}

.ibps-icon-google-plus-circle:before {
  content: "\e744";
}

.ibps-icon-shower:before {
  content: "\e844";
}

.ibps-icon-battery-2:before {
  content: "\e645";
}

.ibps-icon-google-plus-official:before {
  content: "\e745";
}

.ibps-icon-sign-in:before {
  content: "\e845";
}

.ibps-icon-battery-4:before {
  content: "\e646";
}

.ibps-icon-google-plus-square:before {
  content: "\e746";
}

.ibps-icon-shopping-basket:before {
  content: "\e846";
}

.ibps-icon-battery-3:before {
  content: "\e647";
}

.ibps-icon-google-plus:before {
  content: "\e747";
}

.ibps-icon-shopping-cart:before {
  content: "\e847";
}

.ibps-icon-battery-half:before {
  content: "\e648";
}

.ibps-icon-google-wallet:before {
  content: "\e748";
}

.ibps-icon-shopping-bag:before {
  content: "\e848";
}

.ibps-icon-battery-empty:before {
  content: "\e649";
}

.ibps-icon-google:before {
  content: "\e749";
}

.ibps-icon-sign-language:before {
  content: "\e849";
}

.ibps-icon-battery-full:before {
  content: "\e64a";
}

.ibps-icon-graduation-cap:before {
  content: "\e74a";
}

.ibps-icon-sign-out:before {
  content: "\e84a";
}

.ibps-icon-battery-quarter:before {
  content: "\e64b";
}

.ibps-icon-gratipay:before {
  content: "\e74b";
}

.ibps-icon-signal:before {
  content: "\e84b";
}

.ibps-icon-battery-three-quarters:before {
  content: "\e64c";
}

.ibps-icon-grav:before {
  content: "\e74c";
}

.ibps-icon-simplybuilt:before {
  content: "\e84c";
}

.ibps-icon-battery:before {
  content: "\e64d";
}

.ibps-icon-group:before {
  content: "\e74d";
}

.ibps-icon-sitemap:before {
  content: "\e84d";
}

.ibps-icon-beer:before {
  content: "\e64e";
}

.ibps-icon-h-square:before {
  content: "\e74e";
}

.ibps-icon-signing:before {
  content: "\e84e";
}

.ibps-icon-bed:before {
  content: "\e64f";
}

.ibps-icon-hacker-news:before {
  content: "\e74f";
}

.ibps-icon-sliders:before {
  content: "\e84f";
}

.ibps-icon-behance:before {
  content: "\e650";
}

.ibps-icon-hand-grab-o:before {
  content: "\e750";
}

.ibps-icon-skype:before {
  content: "\e850";
}

.ibps-icon-behance-square:before {
  content: "\e651";
}

.ibps-icon-hand-o-left:before {
  content: "\e751";
}

.ibps-icon-skyatlas:before {
  content: "\e851";
}

.ibps-icon-bell-o:before {
  content: "\e652";
}

.ibps-icon-hand-lizard-o:before {
  content: "\e752";
}

.ibps-icon-slack:before {
  content: "\e852";
}

.ibps-icon-bell-slash-o:before {
  content: "\e653";
}

.ibps-icon-hand-o-down:before {
  content: "\e753";
}

.ibps-icon-slideshare:before {
  content: "\e853";
}

.ibps-icon-bell-slash:before {
  content: "\e654";
}

.ibps-icon-hand-o-right:before {
  content: "\e754";
}

.ibps-icon-snapchat-square:before {
  content: "\e854";
}

.ibps-icon-bicycle:before {
  content: "\e655";
}

.ibps-icon-hand-o-up:before {
  content: "\e755";
}

.ibps-icon-snapchat-ghost:before {
  content: "\e855";
}

.ibps-icon-bitbucket-square:before {
  content: "\e656";
}

.ibps-icon-hand-paper-o:before {
  content: "\e756";
}

.ibps-icon-smile-o:before {
  content: "\e856";
}

.ibps-icon-binoculars:before {
  content: "\e657";
}

.ibps-icon-hand-pointer-o:before {
  content: "\e757";
}

.ibps-icon-snapchat:before {
  content: "\e857";
}

.ibps-icon-bell:before {
  content: "\e658";
}

.ibps-icon-hand-peace-o:before {
  content: "\e758";
}

.ibps-icon-snowflake-o:before {
  content: "\e858";
}

.ibps-icon-birthday-cake:before {
  content: "\e659";
}

.ibps-icon-hand-spock-o:before {
  content: "\e759";
}

.ibps-icon-soccer-ball-o:before {
  content: "\e859";
}

.ibps-icon-bitbucket:before {
  content: "\e65a";
}

.ibps-icon-hand-rock-o:before {
  content: "\e75a";
}

.ibps-icon-sort-alpha-asc:before {
  content: "\e85a";
}

.ibps-icon-black-tie:before {
  content: "\e65b";
}

.ibps-icon-hand-scissors-o:before {
  content: "\e75b";
}

.ibps-icon-sort-alpha-desc:before {
  content: "\e85b";
}

.ibps-icon-bluetooth-b:before {
  content: "\e65c";
}

.ibps-icon-hand-stop-o:before {
  content: "\e75c";
}

.ibps-icon-sort-amount-asc:before {
  content: "\e85c";
}

.ibps-icon-bitcoin:before {
  content: "\e65d";
}

.ibps-icon-hard-of-hearing:before {
  content: "\e75d";
}

.ibps-icon-sort-desc:before {
  content: "\e85d";
}

.ibps-icon-blind:before {
  content: "\e65e";
}

.ibps-icon-handshake-o:before {
  content: "\e75e";
}

.ibps-icon-sort-down:before {
  content: "\e85e";
}

.ibps-icon-bluetooth:before {
  content: "\e65f";
}

.ibps-icon-hashtag:before {
  content: "\e75f";
}

.ibps-icon-sort-numeric-asc:before {
  content: "\e85f";
}

.ibps-icon-bold:before {
  content: "\e660";
}

.ibps-icon-headphones:before {
  content: "\e760";
}

.ibps-icon-sort-asc:before {
  content: "\e860";
}

.ibps-icon-bolt:before {
  content: "\e661";
}

.ibps-icon-header:before {
  content: "\e761";
}

.ibps-icon-sort-amount-desc:before {
  content: "\e861";
}

.ibps-icon-bomb:before {
  content: "\e662";
}

.ibps-icon-hdd-o:before {
  content: "\e762";
}

.ibps-icon-sort-numeric-desc:before {
  content: "\e862";
}

.ibps-icon-book:before {
  content: "\e663";
}

.ibps-icon-heart-o:before {
  content: "\e763";
}

.ibps-icon-sort-up:before {
  content: "\e863";
}

.ibps-icon-bug:before {
  content: "\e664";
}

.ibps-icon-heart:before {
  content: "\e764";
}

.ibps-icon-sort:before {
  content: "\e864";
}

.ibps-icon-bookmark-o:before {
  content: "\e665";
}

.ibps-icon-hotel:before {
  content: "\e765";
}

.ibps-icon-soundcloud:before {
  content: "\e865";
}

.ibps-icon-btc:before {
  content: "\e666";
}

.ibps-icon-heartbeat:before {
  content: "\e766";
}

.ibps-icon-space-shuttle:before {
  content: "\e866";
}

.ibps-icon-bookmark:before {
  content: "\e667";
}

.ibps-icon-hourglass-1:before {
  content: "\e767";
}

.ibps-icon-spinner:before {
  content: "\e867";
}

.ibps-icon-briefcase:before {
  content: "\e668";
}

.ibps-icon-home:before {
  content: "\e768";
}

.ibps-icon-spoon:before {
  content: "\e868";
}

.ibps-icon-braille:before {
  content: "\e669";
}

.ibps-icon-history:before {
  content: "\e769";
}

.ibps-icon-square-o:before {
  content: "\e869";
}

.ibps-icon-bullhorn:before {
  content: "\e66a";
}

.ibps-icon-hourglass-2:before {
  content: "\e76a";
}

.ibps-icon-spotify:before {
  content: "\e86a";
}

.ibps-icon-bullseye:before {
  content: "\e66b";
}

.ibps-icon-hospital-o:before {
  content: "\e76b";
}

.ibps-icon-square:before {
  content: "\e86b";
}

.ibps-icon-bus:before {
  content: "\e66c";
}

.ibps-icon-hourglass-3:before {
  content: "\e76c";
}

.ibps-icon-stack-exchange:before {
  content: "\e86c";
}

.ibps-icon-building:before {
  content: "\e66d";
}

.ibps-icon-hourglass-half:before {
  content: "\e76d";
}

.ibps-icon-star-half-empty:before {
  content: "\e86d";
}

.ibps-icon-cab:before {
  content: "\e66e";
}

.ibps-icon-hourglass-end:before {
  content: "\e76e";
}

.ibps-icon-stack-overflow:before {
  content: "\e86e";
}

.ibps-icon-buysellads:before {
  content: "\e66f";
}

.ibps-icon-hourglass-o:before {
  content: "\e76f";
}

.ibps-icon-star-half:before {
  content: "\e86f";
}

.ibps-icon-building-o:before {
  content: "\e670";
}

.ibps-icon-hourglass-start:before {
  content: "\e770";
}

.ibps-icon-star:before {
  content: "\e870";
}

.ibps-icon-calendar-plus-o:before {
  content: "\e671";
}

.ibps-icon-houzz:before {
  content: "\e771";
}

.ibps-icon-star-half-o:before {
  content: "\e871";
}

.ibps-icon-calendar-o:before {
  content: "\e672";
}

.ibps-icon-html5:before {
  content: "\e772";
}

.ibps-icon-star-o:before {
  content: "\e872";
}

.ibps-icon-calendar-times-o:before {
  content: "\e673";
}

.ibps-icon-hourglass:before {
  content: "\e773";
}

.ibps-icon-star-half-full:before {
  content: "\e873";
}

.ibps-icon-calendar-check-o:before {
  content: "\e674";
}

.ibps-icon-id-badge:before {
  content: "\e774";
}

.ibps-icon-sticky-note-o:before {
  content: "\e874";
}

.ibps-icon-calendar-minus-o:before {
  content: "\e675";
}

.ibps-icon-i-cursor:before {
  content: "\e775";
}

.ibps-icon-step-forward:before {
  content: "\e875";
}

.ibps-icon-calculator:before {
  content: "\e676";
}

.ibps-icon-id-card:before {
  content: "\e776";
}

.ibps-icon-steam:before {
  content: "\e876";
}

.ibps-icon-caret-down:before {
  content: "\e677";
}

.ibps-icon-ils:before {
  content: "\e777";
}

.ibps-icon-steam-square:before {
  content: "\e877";
}

.ibps-icon-caret-left:before {
  content: "\e678";
}

.ibps-icon-id-card-o:before {
  content: "\e778";
}

.ibps-icon-stethoscope:before {
  content: "\e878";
}

.ibps-icon-car:before {
  content: "\e679";
}

.ibps-icon-image:before {
  content: "\e779";
}

.ibps-icon-step-backward:before {
  content: "\e879";
}

.ibps-icon-camera-retro:before {
  content: "\e67a";
}

.ibps-icon-inbox:before {
  content: "\e77a";
}

.ibps-icon-stop:before {
  content: "\e87a";
}

.ibps-icon-caret-right:before {
  content: "\e67b";
}

.ibps-icon-indent:before {
  content: "\e77b";
}

.ibps-icon-stop-circle:before {
  content: "\e87b";
}

.ibps-icon-caret-square-o-left:before {
  content: "\e67c";
}

.ibps-icon-industry:before {
  content: "\e77c";
}

.ibps-icon-stop-circle-o:before {
  content: "\e87c";
}

.ibps-icon-caret-square-o-right:before {
  content: "\e67d";
}

.ibps-icon-imdb:before {
  content: "\e77d";
}

.ibps-icon-sticky-note:before {
  content: "\e87d";
}

.ibps-icon-caret-up:before {
  content: "\e67e";
}

.ibps-icon-info:before {
  content: "\e77e";
}

.ibps-icon-street-view:before {
  content: "\e87e";
}

.ibps-icon-caret-square-o-up:before {
  content: "\e67f";
}

.ibps-icon-institution:before {
  content: "\e77f";
}

.ibps-icon-strikethrough:before {
  content: "\e87f";
}

.ibps-icon-cart-plus:before {
  content: "\e680";
}

.ibps-icon-info-circle:before {
  content: "\e780";
}

.ibps-icon-stumbleupon:before {
  content: "\e880";
}

.ibps-icon-cart-arrow-down:before {
  content: "\e681";
}

.ibps-icon-internet-explorer:before {
  content: "\e781";
}

.ibps-icon-subway:before {
  content: "\e881";
}

.ibps-icon-caret-square-o-down:before {
  content: "\e682";
}

.ibps-icon-inr:before {
  content: "\e782";
}

.ibps-icon-stumbleupon-circle:before {
  content: "\e882";
}

.ibps-icon-cc-discover:before {
  content: "\e683";
}

.ibps-icon-instagram:before {
  content: "\e783";
}

.ibps-icon-suitcase:before {
  content: "\e883";
}

.ibps-icon-cc-diners-club:before {
  content: "\e684";
}

.ibps-icon-ioxhost:before {
  content: "\e784";
}

.ibps-icon-subscript:before {
  content: "\e884";
}

.ibps-icon-cc-paypal:before {
  content: "\e685";
}

.ibps-icon-joomla:before {
  content: "\e785";
}

.ibps-icon-sun-o:before {
  content: "\e885";
}

.ibps-icon-cc-jcb:before {
  content: "\e686";
}

.ibps-icon-jpy:before {
  content: "\e786";
}

.ibps-icon-superpowers:before {
  content: "\e886";
}

.ibps-icon-cc-mastercard:before {
  content: "\e687";
}

.ibps-icon-intersex:before {
  content: "\e787";
}

.ibps-icon-tablet:before {
  content: "\e887";
}

.ibps-icon-cc-amex:before {
  content: "\e688";
}

.ibps-icon-jsfiddle:before {
  content: "\e788";
}

.ibps-icon-table:before {
  content: "\e888";
}

.ibps-icon-cc:before {
  content: "\e689";
}

.ibps-icon-italic:before {
  content: "\e789";
}

.ibps-icon-support:before {
  content: "\e889";
}

.ibps-icon-cc-visa:before {
  content: "\e68a";
}

.ibps-icon-key:before {
  content: "\e78a";
}

.ibps-icon-superscript:before {
  content: "\e88a";
}

.ibps-icon-cc-stripe:before {
  content: "\e68b";
}

.ibps-icon-keyboard-o:before {
  content: "\e78b";
}

.ibps-icon-tasks:before {
  content: "\e88b";
}

.ibps-icon-check1:before {
  content: "\e68c";
}

.ibps-icon-krw:before {
  content: "\e78c";
}

.ibps-icon-tags:before {
  content: "\e88c";
}

.ibps-icon-certificate:before {
  content: "\e68d";
}

.ibps-icon-laptop:before {
  content: "\e78d";
}

.ibps-icon-tag:before {
  content: "\e88d";
}

.ibps-icon-check-circle:before {
  content: "\e68e";
}

.ibps-icon-language:before {
  content: "\e78e";
}

.ibps-icon-tachometer:before {
  content: "\e88e";
}

.ibps-icon-check-circle-o:before {
  content: "\e68f";
}

.ibps-icon-leaf:before {
  content: "\e78f";
}

.ibps-icon-telegram:before {
  content: "\e88f";
}

.ibps-icon-chain-broken:before {
  content: "\e690";
}

.ibps-icon-lastfm:before {
  content: "\e790";
}

.ibps-icon-taxi:before {
  content: "\e890";
}

.ibps-icon-chain:before {
  content: "\e691";
}

.ibps-icon-lastfm-square:before {
  content: "\e791";
}

.ibps-icon-terminal:before {
  content: "\e891";
}

.ibps-icon-chevron-circle-down:before {
  content: "\e692";
}

.ibps-icon-legal:before {
  content: "\e792";
}

.ibps-icon-tencent-weibo:before {
  content: "\e892";
}

.ibps-icon-chevron-circle-left:before {
  content: "\e693";
}

.ibps-icon-leanpub:before {
  content: "\e793";
}

.ibps-icon-television:before {
  content: "\e893";
}

.ibps-icon-chevron-circle-right:before {
  content: "\e694";
}

.ibps-icon-level-down:before {
  content: "\e794";
}

.ibps-icon-text-height:before {
  content: "\e894";
}

.ibps-icon-chevron-down:before {
  content: "\e695";
}

.ibps-icon-level-up:before {
  content: "\e795";
}

.ibps-icon-text-width:before {
  content: "\e895";
}

.ibps-icon-chevron-circle-up:before {
  content: "\e696";
}

.ibps-icon-life-ring:before {
  content: "\e796";
}

.ibps-icon-th-large:before {
  content: "\e896";
}

.ibps-icon-chevron-left:before {
  content: "\e697";
}

.ibps-icon-life-buoy:before {
  content: "\e797";
}

.ibps-icon-th-list:before {
  content: "\e897";
}

.ibps-icon-chevron-right:before {
  content: "\e698";
}

.ibps-icon-life-bouy:before {
  content: "\e798";
}

.ibps-icon-thermometer-0:before {
  content: "\e898";
}

.ibps-icon-chevron-up:before {
  content: "\e699";
}

.ibps-icon-lemon-o:before {
  content: "\e799";
}

.ibps-icon-th:before {
  content: "\e899";
}

.ibps-icon-child:before {
  content: "\e69a";
}

.ibps-icon-lightbulb-o:before {
  content: "\e79a";
}

.ibps-icon-themeisle:before {
  content: "\e89a";
}

.ibps-icon-circle-thin:before {
  content: "\e69b";
}

.ibps-icon-life-saver:before {
  content: "\e79b";
}

.ibps-icon-thermometer-1:before {
  content: "\e89b";
}

.ibps-icon-circle-o-notch:before {
  content: "\e69c";
}

.ibps-icon-line-chart:before {
  content: "\e79c";
}

.ibps-icon-thermometer-2:before {
  content: "\e89c";
}

.ibps-icon-chrome:before {
  content: "\e69d";
}

.ibps-icon-linkedin:before {
  content: "\e79d";
}

.ibps-icon-thermometer-3:before {
  content: "\e89d";
}

.ibps-icon-circle-o:before {
  content: "\e69e";
}

.ibps-icon-linkedin-square:before {
  content: "\e79e";
}

.ibps-icon-thermometer-4:before {
  content: "\e89e";
}

.ibps-icon-clipboard:before {
  content: "\e69f";
}

.ibps-icon-link:before {
  content: "\e79f";
}

.ibps-icon-thermometer-empty:before {
  content: "\e89f";
}

.ibps-icon-circle:before {
  content: "\e6a0";
}

.ibps-icon-linode:before {
  content: "\e7a0";
}

.ibps-icon-thermometer-full:before {
  content: "\e8a0";
}

.ibps-icon-cloud:before {
  content: "\e6a1";
}

.ibps-icon-list:before {
  content: "\e7a1";
}

.ibps-icon-thermometer-half:before {
  content: "\e8a1";
}

.ibps-icon-close:before {
  content: "\e6a2";
}

.ibps-icon-list-ul:before {
  content: "\e7a2";
}

.ibps-icon-thumb-tack:before {
  content: "\e8a2";
}

.ibps-icon-cloud-upload:before {
  content: "\e6a3";
}

.ibps-icon-linux:before {
  content: "\e7a3";
}

.ibps-icon-thermometer-three-quarters:before {
  content: "\e8a3";
}

.ibps-icon-clone:before {
  content: "\e6a4";
}

.ibps-icon-list-ol:before {
  content: "\e7a4";
}

.ibps-icon-thermometer-quarter:before {
  content: "\e8a4";
}

.ibps-icon-cloud-download:before {
  content: "\e6a5";
}

.ibps-icon-list-alt:before {
  content: "\e7a5";
}

.ibps-icon-thermometer:before {
  content: "\e8a5";
}

.ibps-icon-clock-o1:before {
  content: "\e6a6";
}

.ibps-icon-location-arrow:before {
  content: "\e7a6";
}

.ibps-icon-thumbs-down:before {
  content: "\e8a6";
}

.ibps-icon-cny:before {
  content: "\e6a7";
}

.ibps-icon-lock:before {
  content: "\e7a7";
}

.ibps-icon-times-circle:before {
  content: "\e8a7";
}

.ibps-icon-code-fork:before {
  content: "\e6a8";
}

.ibps-icon-long-arrow-up:before {
  content: "\e7a8";
}

.ibps-icon-thumbs-up:before {
  content: "\e8a8";
}

.ibps-icon-codiepie:before {
  content: "\e6a9";
}

.ibps-icon-long-arrow-right:before {
  content: "\e7a9";
}

.ibps-icon-ticket:before {
  content: "\e8a9";
}

.ibps-icon-codepen:before {
  content: "\e6aa";
}

.ibps-icon-long-arrow-left:before {
  content: "\e7aa";
}

.ibps-icon-thumbs-o-down:before {
  content: "\e8aa";
}

.ibps-icon-code:before {
  content: "\e6ab";
}

.ibps-icon-long-arrow-down:before {
  content: "\e7ab";
}

.ibps-icon-thumbs-o-up:before {
  content: "\e8ab";
}

.ibps-icon-cog:before {
  content: "\e6ac";
}

.ibps-icon-magic:before {
  content: "\e7ac";
}

.ibps-icon-times-circle-o:before {
  content: "\e8ac";
}

.ibps-icon-coffee:before {
  content: "\e6ad";
}

.ibps-icon-magnet:before {
  content: "\e7ad";
}

.ibps-icon-times-rectangle-o:before {
  content: "\e8ad";
}

.ibps-icon-columns:before {
  content: "\e6ae";
}

.ibps-icon-low-vision:before {
  content: "\e7ae";
}

.ibps-icon-times-rectangle:before {
  content: "\e8ae";
}

.ibps-icon-comment-o:before {
  content: "\e6af";
}

.ibps-icon-mail-reply-all:before {
  content: "\e7af";
}

.ibps-icon-times:before {
  content: "\e8af";
}

.ibps-icon-commenting-o:before {
  content: "\e6b0";
}

.ibps-icon-mail-reply:before {
  content: "\e7b0";
}

.ibps-icon-tint:before {
  content: "\e8b0";
}

.ibps-icon-commenting:before {
  content: "\e6b1";
}

.ibps-icon-mail-forward:before {
  content: "\e7b1";
}

.ibps-icon-toggle-left:before {
  content: "\e8b1";
}

.ibps-icon-comment:before {
  content: "\e6b2";
}

.ibps-icon-male:before {
  content: "\e7b2";
}

.ibps-icon-toggle-down:before {
  content: "\e8b2";
}

.ibps-icon-cogs:before {
  content: "\e6b3";
}

.ibps-icon-map-pin:before {
  content: "\e7b3";
}

.ibps-icon-toggle-off:before {
  content: "\e8b3";
}

.ibps-icon-compass:before {
  content: "\e6b4";
}

.ibps-icon-map-o:before {
  content: "\e7b4";
}

.ibps-icon-toggle-right:before {
  content: "\e8b4";
}

.ibps-icon-compress:before {
  content: "\e6b5";
}

.ibps-icon-map-marker:before {
  content: "\e7b5";
}

.ibps-icon-toggle-on:before {
  content: "\e8b5";
}
